<!DOCTYPE html>
<html lang = "en">
  <head>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  		<form class = "navbar-form navbar-left" role = "search">
  			<div class = "form-group">
  				<input type = "text" class = "form-control" placeholder "Search Modules">
  			</div>
  			<button type = "submit" class = "btn btn-default"> Search </button>
  		</form>
  	{% block head %}
  	<title> {% block title %} {% endblock title %} </title>
  	{% endblock head %}
  </head>
 <body>
 	{% block content %} {% endblock content %}
 </body>
</html>
